{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
      <div class="card">

        <div class="card-header d-flex justify-content-between align-items-center">
          <h5>{{segment}}</h5>
          <a href="{% url 'carrera_crear' %}" class="btn btn-primary">Agregar</a>
      </div>
        <ul>
          <div class="table-responsive">

          <table class="table">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Duracion</th>
                    <th>Acciones</th>

                </tr>
            </thead>
            <tbody>
                {% for car in carrera %}
                    <tr>
                        <td>{{ car.codigo }}</td>
                        <td>{{ car.nombre }}</td>
                        <td>{{ car.duracion }}</td>
                        
                        <td>
                            <a href="{% url 'carrera_det' car.codigo %}" >
                                  <i class="feather icon-edit"></i>    
                            </a>
                            <form action="{% url 'carrera_bor' car.codigo %}" method="POST" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-link" style="background: transparent; border: none;">
                                  <i class="feather icon-trash"></i>
                              </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
      </div>

        </ul>
      </div>
    </div>
  </div>
{% endblock  %}
